body {
    background-image: url(morning-office-desk-with-coffee-stationery-items.jpg);
    background-size:contain;
    margin: 20px;
    border: 2px solid palevioletred;
}

.logo {
    width: 90px;
    height: 90px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: black;
    text-align: center;
    /*font-weight: bold;*/
    margin: 0;
    padding: 0;
}

h2 {
    color: #ff5757;
    /*font-weight: bold; */
} 

h3 {
    color: #ff5757;
    /*font-weight: bold; */
}

h4 {
    text-align: center;
    font-style: italic;
}
ul {
    list-style-type: none;
    padding-bottom: 10px;
}

li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
/* h2, ul, li {
    margin-bottom: 10px;
    display: inline;
    
}

u {
    width: 200px;
}
*/

.underline {
    border-bottom: 1px solid #000; /* Adjust color and thickness as needed */
    display: inline-block; /* Prevents it from taking full width */
    width: 200px; /* Set a specific width if needed */
    height: 0; /* Make the element take up no vertical space */
}


.underline1 {
    border-bottom: 1px solid #ff5757; /* Adjust color and thickness as needed */
    display: inline-block; /* Prevents it from taking full width */
    width: 200px; /* Set a specific width if needed */
    height: 0; /* Make the element take up no vertical space */
}

.underline2 {
    border-bottom: 1px solid #ff5757; /* Adjust color and thickness as needed */
    display: inline-block; /* Prevents it from taking full width */
    width: 350px; /* Set a specific width if needed */
    height: 0; /* Make the element take up no vertical space */
}
/* Add Flexbox  for Priority Tasks */
.container2, .container3, .container4, .container5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.footer {
    color: black;
    text-align: center;
    /*font-weight: bolder;*/
    font-size: x-small;
}


/*.container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.container4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.container5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
*/
